* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left, rgb(29, 150, 190), red);
}

.heading {
    position: fixed;
    color: white;
    text-shadow: 1px 2px 2px black;
    top: 0;
}

textarea {
    width: 500px;
    min-height: 200px;
    padding: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 3px 70px 10px black;
    outline: none;
    font-size: 26px;
    color: rgb(160, 0, 100);
}

select {
    background: transparent;
    width: 180px;
    height: 30px;
    margin: 20px;
    padding: 2px;
    border: none;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 3px 50px 5px black;
    font-size: 20px;
    text-align: center;
}

select > option {
    color: black;
}

button {
    background: transparent;
    width: 100px;
    height: 30px;
    margin: 20px;
    padding: 2px;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 3px 50px 5px black;
    font-size: 20px;
    text-align: center;
}

section {
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 5px 3px 50px 5px black;
    bottom: 50px;
    right: 80px;
}

section .info {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.tooltip {
    position: relative;
    color: white;
    top: 10px;
    left: 15px;
}

.tooltip-content {
    position: absolute;
    width: 180px;
    text-align: center;
    color: white;
    background: transparent;
    box-shadow: 5px 3px 50px 5px black;
    border-radius: 20px;
    padding: 10px;
    margin-left: -95px;
    top: -2300%;
    visibility: hidden;
    z-index: 1;
}

.tooltip:hover > .tooltip-content {
    visibility: visible;
}

.bottom {
    position: fixed;
    text-align: center;
    font-size: 24px;
    color: white;
    text-shadow: 1px 2px 2px black;
    bottom: 0;
}